.clip-search {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 300px;
  margin-right: 10px;
  .clip-search-btn {
    width: 25px;
    height: 25px;
    padding: 10px;
    cursor: pointer;
  }
  .clip-search-input {
    width: 90%;
    /* normalize */
    background: none;
    outline: none;
    border: none;
    /* custom */
    color: @text-color;
    background-color: @bg-color;
    height: fit-content;
    font-size: 15px;
    padding: 10px;
    border-radius: 5px;
    &::placeholder {
      color: @text-color-lighter;
    }
  }
  .clip-search-suffix {
    text-align: center;
    position: fixed;
    right: 20px;
    top: 18px;
    font-size: 13px;
    padding: 2px;
    width: 20px;
    height: 20px;
    background-color: @nav-bg-color;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: @nav-hover-bg-color;
    }
  }
}
