.clip-word-break {
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: @text-bg-color;
  padding: 20px;
  border-radius: 5px;
  margin: 5px 0px;
  &-content-item {
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
    padding: 5px;
    margin: 2px 5px;
    cursor: pointer;
    user-select: none;
    background-color: @bg-color;
    border-radius: 5px;
    transition: all 0.15s;
    &.active {
      color: @bg-color;
      background-color: @primary-color;
      transition: all 0.15s;
    }
  }
}
