.clip-item-list {
  background: @bg-color;
  .clip-item {
    display: flex;
    justify-content: space-between;
    border: 0px solid @bg-color;
    /* 有上边框占用px 但是不显示(与背景同色) */
    border-width: 1px 0px 1px 0px;
    border-color: @bg-color @bg-color #eee @bg-color;
    cursor: pointer;
    &.active {
      border: 0px solid @primary-color;
      border-width: 1px 0px 1px 0px;
      background-color: @text-bg-color-lighter;
    }
    .clip-info {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      padding: 10px;
      .clip-time {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 100px;
        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 13px;
          color: @text-color;
          background-color: @text-bg-color;
          border-radius: 5px;
          min-width: 50px;
          padding: 5px 10px 5px 10px;
        }
      }
      .clip-data {
        display: flex;
        overflow: hidden;
        word-break: break-all;
        max-height: 150px;
        padding: 5px;
        white-space: pre-wrap;
        flex-direction: column;
        color: @text-color;
        img.clip-data-image {
          max-height: 140px; // 比外框 max-height少一点 因为有 5px的边框
          max-width: 90%;
          padding: 5px;
          background-color: @text-color-lighter;
          border-radius: 5px;
        }
        .clip-data-status {
          position: absolute;
          width: fit-content;
          color: @bg-color;
          background-color: @text-color-lighter;
          border-radius: 5px;
          padding: 3px;
        }
      }
    }
    .clip-count {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 50px;
      padding: 10px;
      font-size: 13px;
      color: @text-color-lighter;
      padding: 10px;
    }
  }
}
