.clip-full-wrapper {
  z-index: 9999999999;
  position: fixed;
  top: 0;
  height: -webkit-fill-available;
  width: 70%;
  color: @text-color;
  background: @bg-color;
  margin: 0px 0px;
  padding: 10px 20px;
  overflow-y: scroll;
  word-break: break-all;
  white-space: pre-wrap;
  .clip-full-operate-list {
    position: fixed;
    top: 15px;
    right: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: @text-color;
    &-item {
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      user-select: none;
      margin: 5px 5px;
      background-color: @bg-color;
      &:hover {
        color: @bg-color;
        background-color: @primary-color;
        transition: all 0.15s;
      }
    }
  }
  .clip-full-content {
    background-color: @text-bg-color;
    padding: 20px;
    border-radius: 5px;
  }
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 2px;
    background-color: @text-bg-color;
    &-piece {
      border-radius: 2px;
      background-color: @text-bg-color;
    }
  }
  &::-webkit-scrollbar-thumb {
    background: @text-color-lighter;
    border-radius: 5px;
    &:hover {
      background: @text-color;
    }
  }
}
.clip-overlay {
  z-index: 999999999;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
