.clip-full {
  z-index: 9999999999;
  position: fixed;
  top: 0;
  height: 100%;
  width: 60%;
  background: @bg-color;
  padding: 0px 20px 0px 20px;
  overflow-y: scroll;
  word-break: break-all;
  white-space: pre-wrap;
}
.clip-overlay {
  z-index: 999999999;
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}
